<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>HomePage</title>
</head>
<body>
    
    <%- include('./partials/nav') %>
     <style>
  .bg-custom-dark {
    background-color: #0E2148 !important;
    color: white; /* optional: for contrast */
  }
</style>


     <%- include('./partials/scripts') %>
</body>
</html>